<html>
    <head>
        <title>Website</title>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto-Mono">
        <style>
            h1 {
                color: #2F4F4F;
                font-size: 48px;
            }
            h2 {
                color: #2F4F4F;
                font-size: 36px;
            }
            body {
                font-family: 'Roboto+Mono', serif;
                font-size: 36px;
                text-align: center;
                color: #ffbc00;
            }
        </style>
    </head>
    <body>
     {% block body %}{% endblock %}

    </body>
</html>
